<html>
    <head>
        <title>Currency exchange</title>

        <link rel="stylesheet" href="bootstrap.min.css">
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="jquery.simple-dtpicker.js"></script>
        <link type="text/css" href="jquery.simple-dtpicker.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-dark bg-success">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Currency exchange</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/accounts">Your accounts</a></li>
              <li><a href="/create_account">Create new account</a></li>
              <li><a href="/add_money">Add money to account</a></li>
              <li><a href="/create_transaction">Create transaction</a></li>
              <li><a href="/transactions">Your transaction</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </nav>

        {{{body}}}
    </body>
</html>