{{#if accounts}}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Currency</th>
        <th scope="col">Money</th>
    </tr>
    </thead>
    <tbody>
    {{#each accounts}}
    <tr>
        <td>{{this.currency}}</td>
        <td>{{this.money}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
    <p class="text-center">You have no accounts</p>
{{/if}}